/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ITEMBARCODE]
      ,[ITEMID]
      ,[INVENTDIMID]
      ,[UNITID]
      ,[SPC_ITEMACTIVE]
      ,[SPC_PRICEGROUP3]
      ,[SPC_ITEMNAME]
      ,[SPC_IMAGEPATH]
      ,[DATAAREAID]
      ,[SPC_ITEMBUYERGROUPID]
  FROM [test].[dbo].[Test_INVENTITEMBARCODE]