/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [ACCOUNTNUM]
      ,[NAME]
      
      ,[DATAAREAID]
      
  FROM [test].[dbo].[VENDTABLE_DEV]

  --WHERE NAME = 'เส้นหมี่เหรียญทอง บจก.' 